.Homepage {
  margin-top: 56px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.Homepage a {
	position: sticky;
	top: 40%;

}

/*
@media (max-width: 700px) {
  .Homepage {
    background-color: white;
    background-position: 100%;
    background-size: 90%;
  }  
}
*/
@media (min-height: 800px) and (max-width: 700px) {
  .Homepage {
    background-position: right;
  }  
}

@media (max-height: 799px) {
  .Homepage {
    background-position: left;
  }  
}